@import url("https://www.fontspace.com/marvel-font-f32182");

.nav-main {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 60px;
    overflow: hidden;
    background-color: #202020;
}

.login-btn {
    position: absolute;
    left: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgba(255, 255, 255, 0.434);
    border-right: 1px solid rgba(255, 255, 255, 0.434);
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;

    h5 {
        font-size: 15px;
        margin-bottom: 0;
    }
}


#login-btn1 {
    border-right: 1px solid rgba(255, 255, 255, 0.434);
    margin-right: 10px;
    padding-right: 10px;

}

h5:hover {
    cursor: pointer;
}




#title {
    width: auto;
    background-color: rgb(236, 29, 36);
    font-family: "Marvel", sans-serif;
    font-weight: 1000;
    letter-spacing: -6px;
    font-size: 4rem;
    padding: 0 7px;
    color: white;
    height: auto;
}

.sub-logo {
    position: absolute;
    right: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    width: 15%;
    height: 100%;
    border-left: 1px solid rgba(255, 255, 255, 0.434);

    font-family: "Marvel", sans-serif;
    font-weight: 800px;

}

#mulogo {
    height: 25px;
    margin-right: 20px;
}

.sub-logo2 {
    text-transform: uppercase;
    line-height: 0;
    margin: 0;
    letter-spacing: 1;

    p {
        font-family: "Marvel", sans-serif;
        font-size: 10px;
        font-weight: 900;

    }

    p:hover {
        cursor: pointer;
    }

    span {
        font-family: "Marvel", sans-serif;
        font-size: 10px;
        font-weight: 500;
    }

    span:hover {
        cursor: pointer;
    }
}

.search-icon {
    position: absolute;
    right: 10px;
    color: white;
    border-right: 1px solid rgba(255, 255, 255, 0.434);
    border-left: 1px solid rgba(255, 255, 255, 0.434);
    padding: 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: 0.5s;
}

.search-icon:hover {
    cursor: pointer;
    color: red;
}